#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0

/ {
    macros {
        BB130: BB130 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(B) &kp LS(B) &kp N1 &kp MINUS &kp N3 &kp N0>;
            label = "BB130";
        };

        cap_gamma: cgamma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_1 &kp KP_NUMBER_5 &kt LALT>;
            label = "CGAMMA";
        };

        cap_delta: cdelta {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_1 &kp KP_NUMBER_6 &kt LALT>;
            label = "CDELTA";
        };

        cap_theta: ctheta {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_2 &kp KP_NUMBER_0 &kt LALT>;
            label = "CTHETA";
        };

        cap_lambda: clambda {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_2 &kp KP_NUMBER_3 &kt LALT>;
            label = "CLAMBDA";
        };

        cap_pi: cap_pi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_2 &kp KP_NUMBER_8 &kt LALT>;
            label = "CAP_PI";
        };

        cap_sigma: cap_sigma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_3 &kp KP_NUMBER_1 &kt LALT>;
            label = "CAP_SIGMA";
        };

        cap_phi: cap_phi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_3 &kp KP_NUMBER_4 &kt LALT>;
            label = "CAP_PHI";
        };
        
        cap_psi: cap_psi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_3 &kp KP_NUMBER_6 &kt LALT>;
            label = "CAP_PSI";
        };
        
        cap_omega: cap_omega {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_3 &kp KP_NUMBER_7 &kt LALT>;
            label = "CAP_OMEGA";
        };

        alpha: alpha {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_4 &kp KP_NUMBER_5 &kt LALT>;
            label = "ALPHA";
        };
        
        beta: beta {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_4 &kp KP_NUMBER_6 &kt LALT>;
            label = "BETA";
        };

        
        gamma: gamma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_4 &kp KP_NUMBER_7 &kt LALT>;
            label = "GAMMA";
        };

        
        delta: delta {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_4 &kp KP_NUMBER_8 &kt LALT>;
            label = "DELTA";
        };

        
        epsilon: epsilon {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_4 &kp KP_NUMBER_9 &kt LALT>;
            label = "EPSILON";
        };

        
        zeta: zeta {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_5 &kp KP_NUMBER_0 &kt LALT>;
            label = "ZETA";
        };

        
        eta: eta {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_5 &kp KP_NUMBER_1 &kt LALT>;
            label = "ETA";
        };

        
        theta: theta {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_5 &kp KP_NUMBER_2 &kt LALT>;
            label = "THETA";
        };

        
        kappa: kappa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_5 &kp KP_NUMBER_4 &kt LALT>;
            label = "KAPPA";
        };

        
        lambda: lambda {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_5 &kp KP_NUMBER_5 &kt LALT>;
            label = "LAMBDA";
        };

        
        nu: nu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_5 &kp KP_NUMBER_7 &kt LALT>;
            label = "NU";
        };

        
        xi: xi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_5 &kp KP_NUMBER_8 &kt LALT>;
            label = "XI";
        };

        
        pi: pi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_6 &kp KP_NUMBER_0 &kt LALT>;
            label = "PI";
        };

        
        rho: rho {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_6 &kp KP_NUMBER_1 &kt LALT>;
            label = "RHO";
        };
        
        sigma: sigma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_6 &kp KP_NUMBER_3 &kt LALT>;
            label = "SIGMA";
        };
        
        tau: tau {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_6 &kp KP_NUMBER_4 &kt LALT>;
            label = "TAU";
        };
        
        phi: phi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_6 &kp KP_NUMBER_6 &kt LALT>;
            label = "PHI";
        };
        
        chi: chi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_6 &kp KP_NUMBER_7 &kt LALT>;
            label = "CHI";
        };
        
        psi: psi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_6 &kp KP_NUMBER_8 &kt LALT>;
            label = "PSI";
        };
        
        omega: omega {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_6 &kp KP_NUMBER_9 &kt LALT>;
            label = "OMEGA";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp N1    &kp N2    &kp N3  &kp N4  &kp N5  &kp N6             &kp N7  &kp N8     &kp N9   &kp N0    &kp MINUS  &kp EQUAL  &kp BSPC
&kp TAB    &kp Q     &kp W     &kp E   &kp R   &kp T   &kp Y              &kp U   &kp I      &kp O    &kp P     &kp LBKT   &kp RBKT   &kp BSLH
&kp CAPS   &kp A     &kp S     &kp D   &kp F   &kp G   &kp H              &kp J   &kp K      &kp L    &kp SEMI  &kp SQT               &kp ENTER
&kp LSHFT  &kp Z     &kp X     &kp C   &kp V   &kp B   &kp N              &kp M   &kp COMMA  &kp DOT  &kp FSLH                        &kp RSHFT
&kp LCTRL  &kp LWIN  &kp LALT  &mo 1                           &kp SPACE                              &mo 1     &mo 2      &mo 4      &kp DEL
            >;
        };

        num_arrows {
            bindings = <
&kp ESC         &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT  &trans  &trans  &trans             &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_SLASH  &trans  &trans  &kp BSPC
&kp TAB         &trans      &kp UP            &trans      &trans  &trans  &trans             &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp STAR      &trans  &trans  &kp KP_NUMLOCK
&kp KP_NUMLOCK  &kp LEFT    &kp DOWN          &kp RIGHT   &trans  &trans  &trans             &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_MINUS  &trans          &kp RET
&kp LSHFT       &trans      &kp C_AL_CALC     &trans      &trans  &BB130  &trans             &kp KP_NUMBER_0  &kp KP_DOT       &kp KP_EQUAL     &kp PLUS                      &kp RSHFT
&kp LCTRL       &kp LGUI    &trans            &mo 1                               &kp SPACE                                                     &mo 1         &trans  &trans  &kp DEL
            >;
        };

        Greeks_Fs {
            bindings = <
&kp GRAVE  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6             &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &kp BSPC
&trans     &trans  &trans  &trans  &trans  &trans  &trans             &trans  &trans  &trans  &trans   &trans   &trans   &trans
&trans     &trans  &trans  &delta  &trans  &trans  &trans             &trans  &trans  &trans  &trans   &trans            &trans
&trans     &trans  &trans  &trans  &trans  &trans  &trans             &trans  &trans  &trans  &trans                     &trans
&trans     &trans  &trans  &trans                          &kp SPACE                          &trans   &trans   &trans   &trans
            >;
        };

        GreekCaps {
            bindings = <
&trans  &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &cap_delta  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans          &trans
&trans  &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans                  &trans
&trans  &trans  &trans  &trans                              &trans                          &trans  &trans  &trans  &trans
            >;
        };

        bluetooth {
            bindings = <
&bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &bootloader
&trans          &trans        &trans        &trans        &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans          &trans
&trans          &trans        &trans        &trans        &trans  &trans  &trans          &trans  &trans  &trans  &trans                  &trans
&trans          &trans        &trans        &trans                                &trans                          &trans  &trans  &trans  &trans
            >;
        };
    };
};
